@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #dddddd;
    font-size: 18px;
    margin: 0 20%;
}

header {
    display: flex;
    align-items: center;
    box-shadow: 2px 8px 7px #F5F5F5
}

img{
    width: 150px;
    height: 80px;  
}

p{
    text-align: justify;
}

.continuar{
    border: 1px solid #000;
    padding: 5px;
    width: 80px;
    height: 20px;
    background-color: #5e5efc; 
}

.continuar:hover {
    background-color: green;
}

.continue{
    text-align: justify;
}

.cabecalhoMenu li {
    margin: 0 10px;
    display: inline-block;
    font-size: 16px;
}

.titulo {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #ffffff;
    font-size: 30px;
    margin-top: 50px;
}

.rodape{
    padding: 10px 15px 5px;
    background-color:#bbb9b9;
}

.botao {
    height: 30px;
    padding-left: 20px;
    border: 2px solid transparent;
}

button {
    height: 20px;
    width: 140px;
    margin-left: 10px;
    border: 2px solid transparent;
}

button:hover {
    border-color: #111311;
}